<h1>New Team for <%= @hunt.name %></h1>

<% if @hunt.errors.any? %>
  <div id="error_explanation">
    <h3>There were some errors and we could not save your hunt!</h3>
    <ul>
      <% @hunt.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@hunt, @team]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
