<h1><%= @team.name %></h1>

<h3>Scavenger Hunt: <%= @hunt.name %></h3>
<p>
  <%= @hunt.location.city_state %><br />
  <%= @hunt.date %>
</p>

<% if @team.status == "pending" %>
  <h3>Members:</h3>
  <ul>
    <% @team.participants.each do |participant| %>
      <li>
        <%= link_to participant.name, user_path(participant) %>
      </li>
    <% end %>
  </ul>

  <%= join_or_leave_team_button(@hunt, @team) %>
<% elsif @team.status == "active" && current_user.current_team == @team %>
  <ol>
    <% @team.items.each do |item| %>
      <li class="<%= 'found' if item.found_items.where(team: @team).first.found %>" >
        <%= item.name %>
        <% found_item = @team.found_items.where(item: item).first %>
        <% unless found_item.found %>
          <%= form_for([@team.hunt, @team, found_item]) do |f| %>
            <%= hidden_field_tag('found_item_id', found_item.id) %>
            <%= f.submit "Found it!", id: "found_item_id_#{found_item.id}" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <!-- show for active team for any user or completed hunt -->
  <ol>
    <% @team.items.each do |item| %>
      <li class="<%= 'found' if item.found_items.where(team: @team).first.found %>" >
        <%= item.name %>
      </li>
    <% end %>
  </ol>

  <ul>
    <% @team.participants.each do |participant| %>
      <li>
        <%= link_to participant.name, user_path(participant) %>
      </li>
    <% end %>
  </ul>
<% end %>
