<h1><%= @team.name %></h1>

<p>
  Hunt info goes here!
</p>

<%= form_for([@hunt, @team]) do |f| %>
  <!-- hidden field w/ current_user's id  -->
  <%= hidden_field_tag 'team[participant_id]', current_user.id %>
  <%= f.submit "Join Team" %>
<% end %>

<h3>Members:</h3>
<ul>
  <% @team.participants.each do |participant| %>
    <li>
      <%= link_to participant.name, user_path(participant) %>
    </li>
  <% end %>
</ul>
