<h1>Edit Profile</h1>

<%= form_for @user, :url => user_profile_path(@user) do |f| %>
  <p>
    Your Username:<br />
    <%= f.text_field :name %>
  </p>

  <p>
    Your Location:<br />

    <%= f.fields_for :location_attributes, @user.location do |l| %>
      <%= l.label :city %>
      <%= l.text_field :city %><br />
      <%= l.label :state %>
      <%= l.text_field :state %>
    <% end %>
  </p>

  <%= f.submit "Update Profile" %>
<% end %>
