<h1><%= @user.name %>'s Profile</h1>
<h3><%= @user.location.city_state if @user.location %></h3>

<h3>Teams:</h3>
<ul>
  <% @user.upcoming_participating_hunts.each do |hunt| %>
    <li>
      <strong><%= link_to @user.team(hunt).name, hunt_team_path(hunt, @user.team(hunt)) %></strong><br />
      <%= link_to hunt.name, hunt_path(hunt) %>
    </li>
  <% end %>
</ul>

<h3>Scavenger Hunts made by <%= @user.name %>:</h3>
<ul>
  <% @user.owned_hunts.each do |hunt| %>
    <%= li_for_hunt(:with_date, hunt) %>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to "Update Profile", edit_user_path(current_user) %>
<% end %>
