<% if @hunt.errors.any? %>
  <div id="error_explanation">
    <h3>There were some errors and we could not save your scavenger hunt!</h3>
    <ul>
      <% @hunt.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1><%= @hunt.name %></h1>

<p>
  Created by: <%= link_to @hunt.owner.name, user_profile_path(@hunt.owner) %>
</p>
<p>
  <%= @hunt.date %>
</p>
<p>
  <%= @hunt.meeting_place %><br />
  <%= @hunt.location.city_state %>
</p>

<%= edit_and_delete_buttons(@hunt) %>
<%= link_to_team_for_active_hunt(@hunt) %>

<%= display_teams_for(@hunt) %>
<%= link_to_make_new_team(@hunt) %>

<%= display_items_for(@hunt) %>


<!-- list comments - need to fix bug, see notes.md -->

<!-- have form there to add comment -->
<!-- <h3>Comments:</h3>
<%= display_comments_for(@hunt) %>

<%= form_for([@hunt, @comment]) do |f| %>
  <%= f.label "Add Comment" %>
  <%= f.text_field :text %>
  <%= f.hidden_field :user_id, value: current_user.id, required: true %>
  <%= f.submit "Submit" %>
<% end %> -->
