<h1><%= @hunt.name %></h1>

<% if @hunt.pending? && current_user == @hunt.owner %>
    <%= link_to "Edit Hunt", edit_hunt_path(@hunt) %> |
    <%= button_to "Delete Hunt", hunt_path(@hunt), :method => "delete", :class => "destroy" %>
<% elsif @hunt.active? %>
  <% if current_user == @hunt.owner %>
    <p>
      <em>Hunt cannot be edited or deleted while it is active.</em>
    </p>
  <% elsif @hunt.teams.include?(current_user.current_team) %>
    <p>
      The hunt is on!
    </p>
    <p>
      <%= link_to "Join your team and start finding items.", hunt_team_path(current_user.current_team) %>
    </p>
  <% end %>
<% end %>

<% if @hunt.pending? %>

  <ul>
    <% @hunt.teams.each do |team| %>
      <li>
        <%= team.name %> | <%= button_to "Join Team", hunt_team_path(team), :method => "patch", :class => "submit" %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Make New Team", new_hunt_team_path(@hunt) %>

  <% if current_user == @hunt.owner %>
    <h3>Items:</h3>

    <ol>
      <% @hunt.items.each do |item| %>
        <li>
          <%= item.name %><br />
          <%= link_to "Edit Item", edit_hunt_item_path(@hunt, item) %> | <%= button_to "Remove Item", hunt_item_path(@hunt, item), :method => "delete", :class => "destroy" %>
        </li>
      <% end %>
    </ol>
  <% end %>

<% elsif @hunt.active? %>

  <h3>Leaderboard</h3>

  <ol>
    <% @hunt.leaderboard.each do |team| %>
      <li>
        <%= link_to team.name, hunt_team_path(@hunt, team) %> | Found: <%= team.found_items.count %>
      </li>
    <% end %>
  </ol>

  <h3>Items:</h3>

  <ol>
    <% @hunt.items.each do |item| %>
      <li>
        <%= item.name %>
      </li>
    <% end %>
  </ol>
<% end %>
