<h1><%= @hunt.name %></h1>

<p>

  <%= @hunt.date %>
</p>
<p>
  <%= @hunt.meeting_place %><br />
  <%= @hunt.location.city_state %>
</p>

<%= edit_and_delete_buttons(@hunt) %>
<%= link_to_team_for_active_hunt(@hunt) %>

<%= display_teams_for(@hunt) %>
<%= link_to_make_new_team(@hunt) %>

<%= display_items_for(@hunt) %>
