<h1><%= @hunt.name %></h1>

<% if current_user == @hunt.owner %>
  <%= link_to "Edit Hunt", edit_hunt_path(@hunt) %> |
  <%= button_to "Delete Hunt", hunt_path(@hunt), :method => "delete", :class => "destroy" %>
<% end %>

<ul>
  <% @hunt.teams.each do |team| %>
    <li>
      <%= team.name %> | <%= button_to "Join Team", hunt_team_path(team), :method => "patch", :class => "submit" %>
    </li>
  <% end %>
</ul>

<%= link_to "Make New Team", new_hunt_team_path(@hunt) %>

<% if current_user == @hunt.owner %>
  <h3>Items:</h3>
  
  <ol>
    <% @hunt.items.each do |item| %>
      <li>
        <%= item.name %><br />
        <%= link_to "Edit Item", edit_hunt_item_path(@hunt, item) %> | <%= button_to "Remove Item", hunt_item_path(@hunt, item), :method => "delete", :class => "destroy" %>
      </li>
    <% end %>
  </ol>
<% end %>
