<h1>Welcome#index</h1>

<% if current_user %>

  <h2>Your Upcoming Hunts</h2>

  <ul>
    <% current_user.teams.each do |team| %>
      <% if team.hunt.status == "pending" %>
      <!-- add dates to hunt information -->
        <%= content_tag :li, class: "#{'upcoming_hunt' if team.hunt.upcoming?}" do %>
          <%= link_to team.hunt.name, hunt_path(team.hunt) %> | <%= link_to team.name, team_path(team) %>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <h2>Nearby Hunts</h2>

  <% if !!current_user.location %>
    <ul>
      <% current_user.location.pending_hunts.each do |hunt| %>
        <li>
          <%= content_tag :li, class: "#{'upcoming_hunt' if hunt.upcoming?}" do %>
            <%= link_to hunt.name, hunt_path(hunt) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= link_to "Add Your Location", edit_user_path(current_user) %>
  <% end %>

<% else %>

  <h3>Check out our top five hunts!</h3>
  <ol>
    <% Hunt.top_five.each do |hunt| %>
      <li>
        <%= hunt.name %>
      </li>
    <% end %>
  </ol>

<% end %>
